<div class="flex justify-center h-screen">
    <div class="space-y-8 text-center">
        <h1 class="text-4xl font-bold  mt-12" i18n="mainTitle">Choose your field</h1>
        <div class="space-y-6">
            <button  class="w-40 py-8 px-8 text-gray-800 bg-gray-200 hover:bg-gray-200 rounded-md duration-200 ml-16 " [routerLink]="'/esn'">
                ESN
            </button>
            <button   class="w-40 py-8 px-8 text-white bg-blue-500 hover:bg-blue-600 rounded-md  duration-200 ml-16" [routerLink]="'/freelance'">
                Freelance
            </button>

        </div>
    </div>
</div>

