<div class="flex justify-between">
  <h1 class="text-2xl text-cyan-600 font-bold">List Freelane</h1>
  <a class="bg-cyan-500 p-3 rounded-md hover:bg-cyan-800 hover:white transition-all " routerLink="/freelance">add Freelance</a>
</div>

<div class="mt-5">


  <nz-table #middleTable nzSize="middle" [nzData]="freelanceData">
    <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Intitule</th>
      <th>Competences</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Image</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
      @for (freelance of middleTable.data; track $index) {
        <tr>
          <td>{{ freelance.id }}</td>
          <td>{{ freelance.name }}</td>
          <td>{{ freelance.intitule }}</td>
          <td>{{ freelance.competences }}</td>
          <td>{{ freelance.email }}</td>
          <td>{{ freelance.phone }}</td>
          <td>
            <!-- Displaying image if it exists -->
            @if(freelance.image!=null){
            <img  [src]="'data:image/'+freelance.imageType+';base64,'+freelance.image" alt="Freelance Image" class="h-8" />
            }
          </td>
          <td>
            <div class="flex gap-2">
              <button class="p-2 w-16 rounded-sm bg-red-500" (click)="deleteFreelance(freelance.id)">Delete</button>
              <button class="p-2 w-16 rounded-sm bg-green-500" (click)="editFreelance(freelance.id)">Edit</button>
            </div>
          </td>
        </tr>
      }
    </tbody>
  </nz-table>
</div>
