<div class="p-10">
  <div class="flex justify-between">
    <h1 class="text-2xl text-cyan-600 font-bold">List Freelance</h1>
    <a
      class="bg-cyan-500 font-bold text-white p-3 rounded-md hover:bg-cyan-600 hover:text-white transition-all"
      routerLink="/freelance"
    >
      Add New Freelancer
    </a>
  </div>

  <div class="mt-5">
    <nz-tabset [(nzSelectedIndex)]="selectedTabIndex" [nzType]="'editable-card'" (nzClose)="closeTab($event)">
      <!-- Freelancer Table Tab -->
      <nz-tab nzTitle="Freelance">
        <nz-table #middleTable nzSize="middle" [nzData]="freelanceData">
          <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Intitule</th>
            <th>Competences</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Image</th>
            <th>Action</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let freelance of freelanceData; let i = index">
            <td>{{ freelance.id }}</td>
            <td>{{ freelance.name }}</td>
            <td>{{ freelance.intitule }}</td>
            <td>{{ freelance.competences }}</td>
            <td>{{ freelance.email }}</td>
            <td>{{ freelance.phone }}</td>
            <td>
              @if(freelance.image!=null){
                <div class="flex justify-center">
                  <img src="assets/eye.svg" alt="eye"
                       srcset="assets/eye.svg"
                       class="h-5 cursor-pointer"
                       (click)="onImageClick(freelance.image, freelance.imageType)"
                  />

                </div>
              }            </td>
            <td>
              <div class="flex gap-2">
                <button class="p-2 w-16 rounded-sm bg-red-500" (click)="deleteFreelance(freelance.id)">Delete</button>
                <button class="p-2 w-16 rounded-sm bg-green-500" (click)="openEditTab(freelance, i)">Edit</button>
              </div>
            </td>
          </tr>
          </tbody>
        </nz-table>
      </nz-tab>

      <!-- Freelancer Edit Tabs -->
      <nz-tab *ngFor="let tab of dynamicTabs; let i = index" [nzClosable]="true" [nzTitle]="tab.freelance.name">
        <app-freelance-update [freelance]="tab.freelance"></app-freelance-update>
      </nz-tab>
    </nz-tabset>
  </div>
</div>


