<p class="text-center text-lg font-semibold mb-4" i18n="formEsnTitle">ESN Form </p>
<div class="max-w-4xl mx-auto bg-white p-6 rounded-lg shadow-md space-y-6 ">

<form nz-form [formGroup]="this.formEsn"  >
    <div class="flex space-x-8">
        <div class="flex-1 space-y-6">
            <nz-form-item class="flex items-center space-x-4">
                <nz-form-label [nzSpan]="6"  class="text-sm font-medium text-gray-700" i18n="formEsnName">ESN Name</nz-form-label>
                <nz-form-control [nzSpan]="14" class="flex-1">
                    <input nz-input  type="text"
                           formControlName="name"
                           nzStatus="warning"
                        class="block w-full px-4 py-2 rounded-md shadow-sm {{getStatusFor('name')?'border border-red-500':''}}"
                           i18n-placeholder="form.nameesn.placeholder" placeholder="enter your name"/>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item class="flex items-center space-x-4">
                <nz-form-label [nzSpan]="6"  class="text-sm font-medium text-gray-700 " i18n="formesnFullContactName">Full Contact Name </nz-form-label>
                <nz-form-control [nzSpan]="14" class="flex-1">
                    <input nz-input type="text"
                        formControlName="contact"
                        class="block w-full px-4 py-2  rounded-md shadow-sm {{getStatusFor('contact')?'border border-red-500':''}}"
                           i18n-placeholder="form.contactesn.placeholder" placeholder="enter your full name contact"/>
                </nz-form-control>
            </nz-form-item>

            <nz-form-item class="flex items-center space-x-4">
                <nz-form-label [nzSpan]="6"  class="text-sm font-medium text-gray-700" i18n="formesnFormJobs">
                  Job</nz-form-label>
                <nz-form-control [nzSpan]="14" class="flex-1">
                    <nz-select nzShowSearch nzAllowClear  i18n-placeholder="form.jobsesn.placeholder" nzPlaceHolder="job title" formControlName="poste"
                    class="{{getStatusFor('poste')?'border border-red-500':''}}"
                    >
                        <nz-option nzLabel="Front-end developer" nzValue="Front"></nz-option>
                        <nz-option nzLabel="Back-end developer" nzValue="Back"></nz-option>
                        <nz-option nzLabel="Java developer" nzValue="Java"></nz-option>
                    </nz-select>
                </nz-form-control>
            </nz-form-item>



            <nz-form-item class="flex items-center space-x-4">
                <nz-form-label [nzSpan]="6"
                    class="text-sm font-medium text-gray-700" i18n="formEsnEmail">Email</nz-form-label>
                <nz-form-control [nzSpan]="14" class="flex-1">
                    <input nz-input  type="email"
                           formControlName="email"
                        class="block w-full px-4 py-2  rounded-md shadow-sm {{getStatusFor('email')?'border border-red-500':''}}"
                           i18n-placeholder="form.emailesn.placeholder" placeholder="enter your email" />
                </nz-form-control>
            </nz-form-item>

            <nz-form-item class="flex items-center space-x-4">
                <nz-form-label [nzSpan]="6"
                    class="text-sm font-medium text-gray-700" i18n="formEsnPhone">Phone</nz-form-label>
                <nz-form-control [nzSpan]="14" class="flex-1">
                    <input nz-input  type="tel"
                           pattern="^[0-9]{10}$"
                           formControlName="phone"
                        class="block w-full px-4 py-2 border  rounded-md shadow-sm {{getStatusFor('phone')?'border border-red-500':''}}"
                           i18n-placeholder="form.phoneesn.placeholder" placeholder="enter your phone number" />
                </nz-form-control>
            </nz-form-item>

        </div>
        <div class="w-1/3">
            <nz-form-item>
                <nz-form-label [nzSpan]="24" class="text-sm font-medium text-gray-700" i18n="formesnUploadImage">Upload Ypur Photo</nz-form-label>
                <nz-form-control>
                    <div class="w-28 h-28 {{!this.imageFile?'bg-gray-200':'bg-transparent'}} {{showImageError?'border border-red-500':''}} cursor-pointer bg-contain object-contain bg-no-repeat bg-center"
                         (click)="importImage()" style="background-image: url({{this.imageUrl}})">

                    </div>
                </nz-form-control>
            </nz-form-item>


        </div>
    </div>
    <nz-form-item class="flex justify-center">
        <button nz-button nzType="primary" (click)="handleAddEsn()" class="mt-4 w-full" i18n="formesnSubmitButton">Submit</button>
        <!-- <button nz-button nzType="primary" (click)="uploadImage()" class="mt-4 w-full">Next</button> -->
    </nz-form-item>

</form>

</div>
