<p class="text-center text-lg font-semibold mb-4">Update Freelance Form</p>
<div class="max-w-4xl mx-auto bg-white p-6 rounded-lg shadow-md space-y-6">
  <form nz-form [formGroup]="formFreelance">
    <div class="flex space-x-8">
      <div class="flex-1 space-y-6">
        <!-- Name Input -->
        <nz-form-item class="flex items-center space-x-4">
          <nz-form-label [nzSpan]="6" class="text-sm font-medium text-gray-700">Name</nz-form-label>
          <nz-form-control [nzSpan]="14" class="flex-1">
            <input nz-input type="text" formControlName="name"
                   class="block w-full px-4 py-2 rounded-md shadow-sm"
                   placeholder="Enter your name" />
          </nz-form-control>
        </nz-form-item>

        <!-- Intitulé du poste -->
        <nz-form-item class="flex items-center space-x-4">
          <nz-form-label [nzSpan]="6" class="text-sm font-medium text-gray-700">Intitulé du poste</nz-form-label>
          <nz-form-control [nzSpan]="14" class="flex-1">
            <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Intitulé du poste" formControlName="intitule">
              <nz-option nzLabel="Front-end developer" nzValue="Front"></nz-option>
              <nz-option nzLabel="Back-end developer" nzValue="Back"></nz-option>
              <nz-option nzLabel="Java developer" nzValue="Java"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>

        <!-- List des compétences -->
        <nz-form-item class="flex items-center space-x-4">
          <nz-form-label [nzSpan]="6" class="text-sm font-medium text-gray-700">List des compétences</nz-form-label>
          <nz-form-control [nzSpan]="14" class="flex-1">
            <nz-select nzMode="tags" nzPlaceHolder="List des compétences" formControlName="competences">
              <ng-container *ngFor="let option of competenceOptions">
                <nz-option [nzLabel]="option" [nzValue]="option"></nz-option>
              </ng-container>
            </nz-select>
          </nz-form-control>
        </nz-form-item>

        <!-- Email -->
        <nz-form-item class="flex items-center space-x-4">
          <nz-form-label [nzSpan]="6" class="text-sm font-medium text-gray-700">Email</nz-form-label>
          <nz-form-control [nzSpan]="14" class="flex-1">
            <input nz-input type="email" formControlName="email"
                   class="block w-full px-4 py-2 rounded-md shadow-sm"
                   placeholder="Enter your email" />
          </nz-form-control>
        </nz-form-item>

        <!-- Phone -->
        <nz-form-item class="flex items-center space-x-4">
          <nz-form-label [nzSpan]="6" class="text-sm font-medium text-gray-700">Phone</nz-form-label>
          <nz-form-control [nzSpan]="14" class="flex-1">
            <input nz-input type="tel" formControlName="phone"
                   class="block w-full px-4 py-2 border rounded-md shadow-sm"
                   placeholder="Enter your number" />
          </nz-form-control>
        </nz-form-item>
      </div>

      <!-- Photo Upload -->
      <div class="w-1/3">
        <nz-form-item>
          <nz-form-label [nzSpan]="24" class="text-sm font-medium text-gray-700">Upload your Photo</nz-form-label>
          <nz-form-control>
            <div [ngStyle]="{ 'background-image': imageUrl ? 'url(' + imageUrl + ')' : '',
                             'background-color': imageFile ? 'transparent' : '#f1f1f1' }"
                 class="w-28 h-28 border {{showImageError ? 'border-red-500' : ''}} cursor-pointer bg-contain bg-center"
                 (click)="importImage()">
            </div>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

    <!-- Submit Button -->
    <nz-form-item class="flex justify-center">
      <button nz-button nzType="primary" [disabled]="!formFreelance.valid" (click)="handleSubmitFreelance()"
              class="mt-4 w-full">
        Submit
      </button>
    </nz-form-item>
  </form>
</div>
