<div class="p-10">
  <div class="flex justify-between">
    <h1 class="text-2xl text-cyan-600 font-bold" i18n="listTitleEsn">List Ens</h1>
    <a
      class="bg-cyan-500 font-bold text-white p-3 rounded-md hover:bg-cyan-600 hover:text-white transition-all"
      routerLink="/esn"
      i18n="listButtonAddNewEsn"
    >
      Add Esn
    </a>
  </div>
  <div class="mt-5">
    <nz-tabset [(nzSelectedIndex)]="selectedTabIndex" [nzType]="'editable-card'" (nzClose)="closeTab($event)">
      <nz-tab nzTitle="ESN">
        <nz-table #middleTable nzSize="middle" [nzData]="ensData" [nzBordered]="true">
          <thead>
          <tr>
            <th>ID</th>
            <th i18n="listNameEsn">Name Esn</th>
            <th i18n="listNameContact">Name Contact</th>
            <th i18n="listNameJob">Job</th>
            <th i18n="listNameEmail">Email</th>
            <th i18n="listNamePhone">Phone</th>
            <th i18n="listNameImage">Image</th>
            <th i18n="listNameAction">Action</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let esn of ensData; let i = index">
            <td>{{ esn.id}}</td>
            <td>{{ esn.nameEns }}</td>
            <td>{{ esn.nameContact }}</td>
            <td>{{ esn.poste }}</td>
            <td>{{ esn.email }}</td>
            <td>{{ esn.phone }}</td>
            <td >
<!--              <ng-container *ngIf="esn.image">-->
<!--                <img-->
<!--                  [src]="'data:image/' + esn.imageType + ';base64,' + esn.image"-->
<!--                  alt="Freelance Image"-->
<!--                  class="h-8"-->
<!--                />-->
          <div class="flex justify-center">
            <img src="assets/eye.svg" alt="eye"
                 srcset="assets/eye.svg"
                 class="h-5 cursor-pointer"
                 (click)="onImageClick(esn.image, esn.imageType)"
            />

          </div>


<!--              </ng-container>-->
            </td>
            <td>
              <div class="flex gap-2">
                <button
                  class="p-2 w-24 rounded-sm bg-red-500"
                  (click)="deleteEsn(esn.id)"
                  i18n="listDeletteButtonEsn"
                >
                  Delete
                </button>
                <button
                  class="p-2 w-24  rounded-sm bg-green-500"
                  (click)="openEditTab(esn, i)"
                  i18n="listEditButtonEsn"
                >
                  Edit
                </button>
              </div>
            </td>
          </tr>
          </tbody>
        </nz-table>
      </nz-tab>
      <nz-tab
        *ngFor="let tab of dynamicTabs; let i = index"
        [nzClosable]="true"
        [nzTitle]=" tab.esn.nameEns"
      >
        <div>

          <app-esn-update [esn]="tab.esn" ></app-esn-update>

        </div>
      </nz-tab>
    </nz-tabset>
  </div>
</div>
