<section class="bg-white ">
  <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
    <a routerLink="/" class="flex items-center mb-6 text-2xl font-semibold text-gray-900 ">
      <img class="w-8 h-8 mr-2"
           src="https://cdn.vectorstock.com/i/1000v/06/62/management-business-logo-template-concept-vector-31080662.jpg"
           alt="logo">
      PROFILE MANAGER
    </a>
    <div class="w-full bg-white rounded-lg shadow drop-shadow-xl dark:border md:mt-0 sm:max-w-md xl:p-0 transition-all"
         [formGroup]="this.signupForm">
      <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
        <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl ">
          Create an account
        </h1>
        <form class="space-y-4 md:space-y-6">
          <div>
            <label class="block mb-2 text-sm font-medium text-gray-900 ">First Name</label>
            <input type="text"
                   class="bg-gray-50 border   border-gray-300 text-gray-900 rounded-lg  focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5  {{this.errorObject.at(0)?.value ?'border border-red-500':''}}"
                   placeholder="Enter your name" required="" formControlName="firstname">
            @if (this.errorObject.at(0)?.value) {
              <span class="text-red-500  text-xs  fadeInTop">this field is required</span>
            }
          </div>

          <div>
            <label class="block mb-2 text-sm font-medium text-gray-900 ">Last Name</label>
            <input type="text"
                   class="bg-gray-50 border   border-gray-300 text-gray-900 rounded-lg  focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5  {{this.errorObject.at(1)?.value?'border border-red-500':''}}"
                   placeholder="Enter your lastName name" required="" formControlName="lastname">
            @if (this.errorObject.at(1)?.value) {
              <span class="text-red-500  text-xs  fadeInTop">this field is required</span>
            }
          </div>
          <div>
            <label class="block mb-2 text-sm font-medium text-gray-900 ">Email</label>
            <input type="email"
                   class="bg-gray-50 border   border-gray-300 text-gray-900 rounded-lg  focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5  {{this.errorObject.at(2)?.value?'border border-red-500':''}}"
                   placeholder="email@email.Com" required="" formControlName="email">
            @if (this.errorObject.at(2)?.value) {
              <span
                class="text-red-500  text-xs  fadeInTop">this field is required and must respect the email pattern</span>
            }
          </div>

          <div>
            <label class="block mb-2 text-sm font-medium text-gray-900 ">Password</label>
            <input type="text"
                   class="bg-gray-50 border   border-gray-300 text-gray-900 rounded-lg  focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5  {{this.errorObject.at(3)?.value?'border border-red-500':''}}"
                   placeholder="Password" required="" formControlName="password"
                   (keydown)="controlInputKeyPress($event)">
            <span class="{{this.errorObject.at(3)?.value?'text-red-500 fadeInTop':'text-gray-400'}}  text-xs ">please to respect the patter  (A-Z a-z 0-9 . {{ '@' }}
              ) </span>
          </div>


          <div>
            <label class="block mb-2 text-sm font-medium text-gray-900 ">Confirm Password</label>
            <input type="password" placeholder="Password"
                   class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 {{this.errorObject.at(4)?.value?'border border-red-500':''}}"
                   required="" formControlName="confirmPassword" (keydown)="controlInputKeyPress($event)">
            <span class="{{this.errorObject.at(4)?.value?'text-red-500 fadeInTop':'text-gray-400'}} text-xs">please to respect the patter  (A-Z a-z 0-9 . {{ '@' }}
              ) </span>
            <!--            @if (passwordsMatchError) {-->
            <!--              <p>error the password doesn't match</p>-->
            <!--            }-->
          </div>


          <button type="submit"
                  class="w-full  bg-sky-900 text-white bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center "
                  (click)="signup()"
          >
            Sign Up
          </button>

        </form>
      </div>
    </div>
  </div>
</section>
